#subscription-form {
    position: absolute;
    top: 50%;
    right: 0px;
    left: 0px;
    transform: translateY(-50%);
    margin-right: auto;
    margin-left: auto;
    width: 200px;

    input {
        margin: 5px;
        width: calc(100% - 10px);
        padding: 3px;
    }
}
