.contact-page-component {
    $trans-speed: 100ms;
    padding-top: pxrem(35);
    padding-bottom: 0px;

    input, textarea {
        margin-bottom: pxrem(20);
        width: 100%;
        padding: pxrem(5) pxrem(10);
        border: pxrem(2) solid color.adjust($c-base, $alpha: -0.75);
        background-color: rgba(255, 255, 255, 0.8);
        font-size: pxrem(14);
        transition: border $trans-speed;

        &:focus {
            border: pxrem(2) solid color.adjust($c-accent, $alpha: -0.4);
        }

        &.error {
            border: pxrem(2) solid $c-error;
        }
    }

    textarea {
        resize: none;
        height: pxrem(150);
    }

    .submit {
        @include font-sans-bold;
        background-color: color.adjust($c-accent, $lightness: 5%);
        color: $c-text-light;
        text-align: center;
        transition: background-color $trans-speed;
        cursor: pointer;

        &:hover {
            background-color: $c-accent;
        }

        &.disabled {
            background-color: $c-base;
        }
    }

    .notification {
        margin: 0px auto pxrem(15) auto;
        padding: pxrem(5) pxrem(10);
        background-color: color.adjust($c-error, $lightness: 15%);
        color: $c-text-light;
        font-size: pxrem(14);
        text-align: center;
        opacity: 0;
        transition: opacity $trans-speed;

        &.visible {
            opacity: 1;
        }

        &.success {
            @include font-sans-bold;
            background-color: transparent;
            color: $c-text;
        }

        span {
            @include font-sans-bold;
        }
    }
}
