.error-page-component {
    display: flex;
    padding: $grid-gutter-width $half-gutter-width;
    flex-grow: 1;
    align-items: center;

    h1 {
        @include font-sans-bold;
        width: 100%;
        font-size: pxrem(22);
        text-align: center;
        text-transform: uppercase;

        @include media-breakpoint-up(sm) {
            font-size: pxrem(32);
        }

        @include media-breakpoint-up(lg) {
            font-size: pxrem(48);
        }
    }
}
