.DS_Store
.phpunit.result.cache
.env
.env.backup
.env.production
.phpactor.json
npm-debug.log
yarn-error.log
/.phpunit.cache
/auth.json
/node_modules
/public/css
/public/fonts
/public/js
/public/storage
/public/uploads
/storage/*.key
/storage/pail
/storage/exports
/vendor
