.DS_Store
.phpunit.result.cache
.env
.env.backup
npm-debug.log
yarn-error.log
/bower_components
/node_modules
/public/css
/public/fonts
/public/js
/public/storage
/public/uploads
/storage/*.key
/storage/exports
/vendor
