/vendor
/node_modules
/bower_components
/public/build
/public/css
/public/js
/public/fonts/FontAwesome.otf
/public/fonts/fontawesome-webfont.*
/public/fonts/glyphicons-halflings-regular.*
/public/uploads
/storage/exports
.env
