@font-face {
    font-family: "OpenSans-Regular";
    src: url("/fonts/OpenSans-Regular.eot");
    src: url("/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/OpenSans-Regular.woff") format("woff"),
    url("/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular.ttf") format("truetype"),
    url("/fonts/OpenSans-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("/fonts/OpenSans-SemiBold.eot");
    src: url("/fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/OpenSans-SemiBold.woff") format("woff"),
    url("/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("/fonts/OpenSans-SemiBold.ttf") format("truetype"),
    url("/fonts/OpenSans-SemiBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("/fonts/OpenSans-Bold.eot");
    src: url("/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/OpenSans-Bold.woff") format("woff"),
    url("/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("/fonts/OpenSans-Bold.ttf") format("truetype"),
    url("/fonts/OpenSans-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@mixin normalize-font {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-sans {
    @include normalize-font;
    font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

@mixin font-sans-semibold {
    @include normalize-font;
    font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
}

@mixin font-sans-bold {
    @include normalize-font;
    font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
}
