@font-face {
    font-family: "OpenSans-Regular";
    src: url("/fonts/OpenSans-Regular.eot");
    src: url("/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg"),
    url("/fonts/OpenSans-Regular.woff") format("woff"),
    url("/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular.ttf") format("truetype"),
    url("/fonts/OpenSans-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@mixin normalize-font {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-sans {
    @include normalize-font;
    font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}
