//
// Custom Variables
//

// Overrides
$grid-breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1540px
);

// Colours
$c-text: #111; // text
$c-text-light: #fff; // light text
$c-base: #08c; // base
$c-accent: #000; // accent
$c-error: #f00; // error

$c-dashboard-dark: #3e6087;
$c-dashboard-light: #f1f1f1;
$c-dashboard-edit: #87823e;
$c-dashboard-delete: #87483e;

// Values
$nav-link-count: 2;

// Sizes
$nav-height-desktop: 60px;
$nav-height-mobile: 50px;
$nav-link-height-mobile: 50px;

// Breakpoints
$nav-desktop-min: 768px;
$nav-mobile-max: ($nav-desktop-min - 1px);
