//
// Custom Variables
//

// Overrides
$grid-breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
);

$container-max-widths: (
    sm: pxrem(540px),
    md: pxrem(720px),
    lg: pxrem(960px),
    xl: pxrem(1140px),
    xxl: pxrem(1540px)
);

// Colours
$c-text: #111; // text
$c-text-light: #fff; // light text
$c-base: #2e2e2e; // base
$c-accent: #fa7921; // accent
$c-error: #fa2036; // error

// Values
$nav-link-count: 3;

// Sizes
$nav-height-desktop: pxrem(60);
$nav-height-mobile: pxrem(50);
$nav-link-height-mobile: pxrem(50);
$grid-gutter-width: pxrem(30);

// Breakpoints
$nav-desktop-min: 768px;
$nav-mobile-max: ($nav-desktop-min - 1px);
