// Core
@import "bootstrap/less/bootstrap";
@import "var";
@import "fonts";

// Supplementary
@import "elements/**";
@import "pages/**";

/*
 |
 |  Main Styles
 |
 */

html, body {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

html.no-scroll { overflow-y: hidden; }

body {
    .font_sans;
    color: @c_text;
    padding-top: @nav_height;
    @media (max-width: @grid-float-breakpoint-max) { padding-top: @mobile_nav_height; }
}

* {
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
