.subscription-form-section-component {
    $trans-speed: 100ms;
    width: px2rem(200px);
    border: 2px solid fade-out($c-base, 0.75);
    border-radius: px2rem(3px);
    background-color: lighten($c-base, 75%);

    input {
        margin: px2rem(5px);
        width: calc(100% - #{px2rem(10px)});
        padding: px2rem(3px);
        border: 2px solid fade-out($c-base, 0.75);
        font-size: px2rem(14px);
        text-align: center;
        transition: border-color $trans-speed;

        &:not(:last-child) {
            margin-bottom: 0px;
        }

        &.error {
            border-color: $c-error;
        }

        &::placeholder, &[type="submit"] {
            text-transform: uppercase;
        }

        &[type="submit"] {
            @include font-sans-bold;
            cursor: pointer;
        }
    }
}
