.subscription-form-section-component {
    $trans-speed: 100ms;
    width: 200px;

    input {
        margin: 5px;
        width: calc(100% - 10px);
        padding: 3px;
        border: 1px solid lighten($c-accent, 50%);
        transition: border-color $trans-speed;

        &.error {
            border-color: $c-error;
        }
    }
}
